<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Numéros importants</ion-card-subtitle>
      <ion-card-title>Numéros vert</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <strong>11 55</strong>
    </ion-card-content>
  </ion-card>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Nom <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="data.nom" required type="text" oninput="handleFirstNameValue(event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Prenom <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="data.prenom" required type="text" oninput="handleLastNameValue(event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="data.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telephone</ion-label>
      <ion-input [(ngModel)]="data.telephone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Adresse</ion-label>
      <ion-input [(ngModel)]="data.Adresse" placeholder="Adresse 1"></ion-input>
      <ion-input [(ngModel)]="data.adresseSecond" placeholder="Adresse 2"></ion-input>
      <ion-input [(ngModel)]="data.Ville" placeholder="Ville"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Commentaire</ion-label>
      <ion-textarea [(ngModel)]="data.Commentaire"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" (click)="submitForm()" class="ion-no-margin">Envoyez</ion-button>
  </div>
</ion-content>
