<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cas par region</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <!-- Searchbar with a placeholder -->
  <ion-searchbar placeholder="Recherche"></ion-searchbar>
  <ion-card>
    <ion-item>
      <ion-label>Situation Covid-19 Par Willaya</ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            
          </ion-col>
          <ion-col>
            <ion-icon name="body-sharp" color="danger"></ion-icon>
            <ion-label>Confirmés</ion-label>
          </ion-col>
          <ion-col>
            <ion-icon name="body-sharp" color="success"></ion-icon>
            <ion-label>Guéris</ion-label>
          </ion-col>
          <ion-col>
            <ion-icon name="body-sharp" color="dark"></ion-icon>
            <ion-label>Décès</ion-label>
          </ion-col>
        </ion-row>
        
        <ion-row *ngFor="let item of willayaData">
          <ion-col>
            {{ item.willaya }}
          </ion-col>
          <ion-col>
            <ion-badge color="danger">{{ item.Total }}</ion-badge>
          </ion-col>
          <ion-col>
            <ion-badge color="success">{{ item.gueris }}</ion-badge>
          </ion-col>
          <ion-col>
            <ion-badge color="dark">{{ item.deces }}</ion-badge>
          </ion-col>
        </ion-row> 
      
        
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>