<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>informations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of informationsData['hydra:member']">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>{{ item.titre }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ item.contenu }}
    </ion-card-content>
  </ion-card>
</ion-content>
