<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Situation Covid-19 du : {{ casesData.Date }}</ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-item>
        <ion-icon name="walk-sharp" color="primary"></ion-icon>
        <ion-badge color="primary" slot="end">23</ion-badge>
        <ion-label>Test effectués</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-icon name="body-sharp" color="danger"></ion-icon>
        <ion-badge color="danger" slot="end">{{ casesData.Total }}</ion-badge>
        <ion-label>Cas confirmés</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="body-sharp" color="success"></ion-icon>
        <ion-badge color="success" slot="end">{{ casesData.Gueri }}</ion-badge>
        <ion-label>Guéris</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="body-sharp" color="dark"></ion-icon>
        <ion-badge color="dark" slot="end">{{ casesData.Dece }}</ion-badge>
        <ion-label>Décès</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-label>Cas confirmés depuis le debut de la pendémie</ion-label>
    </ion-item>
  
    <ion-card-content>
      
      
      
      
      
      
      <ion-chip>
        <ion-icon name="body-sharp" color="dark"></ion-icon>
        <ion-label>Cas confirmés: </ion-label>
        <ion-label>{{totalData.Total}}</ion-label>
      </ion-chip>
      
      <ion-chip>
        <ion-icon name="body-sharp" color="dark"></ion-icon>
        <ion-label>Guéris: </ion-label>
        <ion-label>{{totalData.Gueri}}</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="body-sharp" color="dark"></ion-icon>
        <ion-label>Décès: </ion-label>
        <ion-label>{{totalData.Dece}}</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="body-sharp" color="dark"></ion-icon>
        <ion-label>Sous traitement: </ion-label>
        <ion-label>23</ion-label>
      </ion-chip>

      <ion-button expand="block" href="/region">Afficher par region</ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>
